<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/brephelps">Bre Phelps</a>. A web developer on a mission to spread wisdom across her social network.
  </p>
  <br />
  <p>
    If you want also to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Bre Phelps</h2>
      <br />
      <p>
        Bre currently has a hybrid position as an Implementation and Database Specialist at a software company in San Francisco. She is literate in several coding languages but is looking to acquire a more in depth knowledge. Previously, she lived in Texas and worked as a Technical Project Manager where she learned the basics of JavaScript and SQL. Before her tech life began, she worked in sales. It didn't take long for her to realize that she appreciates working with computers over humans.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>