<h2>
  <span>SPLURTY / No. <%= @quote.id %></span>
  <em>Here's the best unsolicited life advice you can get!</em>
</h2>

<h1>"<%= @quote.saying %>"</h1>
<br />
<h2 class="float-right"><em>- <%= @quote.author %></em></h2>

<br class="clear" />
<br />
<br />
<br /> 